<div class="absolute inset-x-0 top-0 flex items-center w-full max-w-screen-lg mx-auto">
    <div class="p-4 pl-0">
        <h3 class="font-sans text-4xl font-black">GMK</h3>
    </div>
    <div class="flex-grow"></div>
    <ul class="flex flex-row items-center gap-0">
        <li>
            <a class="block px-4 py-2 font-sans text-2xl text-black"
               routerLink="/home"
               routerLinkActive="text-gray-700">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a class="block px-4 py-2 font-sans text-2xl text-black"
               routerLink="/portfolio"
               routerLinkActive="text-gray-700">
                <span>Portfolio</span>
            </a>
        </li>
        <li>
            <a class="block px-4 py-2 font-sans text-2xl text-black"
               routerLink="/contact"
               routerLinkActive="text-gray-700">
                <span>Contact Us</span>
            </a>
        </li>
    </ul>
</div>